.clients {
    display: flex;
    gap: 30px;
}

.clients__item {
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients__link {
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    color: var(--icons-color);

    transition: color var(--transition-time),
        border var(--transition-time);
        &:hover,
            &:focus {
                border: 1px solid var(--accent-colour);
                color: var(--accent-colour);
            }
}

.clients__logo {
    fill: currentColor;
}

